.wrapper{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 60%;
  padding: 0px 10px;
  margin: 0 auto;
}


table{
  border-collapse: collapse;
}

.sort-header{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-header:hover{
  text-decoration: underline;
}
  
.arrow{
	padding: 0;
  visibility: visible;
  width: 12px;
  height: 12px;
}

.arrow.desc{
  transform: rotate(180deg);
}

@media screen and (max-width: 768px){
  table{
    font-size: 12px;

  }
}
table tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

table tr td:first-child{
  position: relative;
  width: 5%;
}
@media screen and (max-width: 515px){
  table tr td:first-child{
    width: 10px;
  }
}

tr{
  display: flex;
  flex-direction: row;
}

.filters-menu-wrapper{
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}

.filters-menu-wrapper button{
  cursor: pointer;
  background: white;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 7px;
  padding: 10px 15px;
  transition: 0.15s ease-in-out;
}
.filters-menu-wrapper button:hover{
  background: rgb(245, 243, 243);
}
@media screen and (max-width: 1400px) {
  .wrapper{
    max-width: 80%;
  }
}
@media screen and (max-width: 1040px) {
  .wrapper{
    max-width: 100%;
  }
  .filters-menu-wrapper{
    width: calc(100% - 10px);
    margin: 0 auto;
  }
}





  