.add-wrapper{
    text-align: start;
}
.add-wrapper form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.add-string{
    width: calc(25% - 8px);
    display: flex;
    flex-direction: column;
    text-align: start;

}
.add-string input{
    padding: 10px;
}

.add-string input.invalid{
    border: 2px solid red;
}

.add-wrapper button{
    margin-bottom: 10px;
    cursor: pointer;
    background: white;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
    transition: 0.15s ease-in-out;
}

.add-wrapper button:hover{
  background: rgb(245, 243, 243);

}



@media screen and (max-width: 690px){
    .add-string{
    width: calc(50% - 5px);
    }
    
}